/* ! */
#post-list {
    margin-left: 20px;
}

/* ! */
#post-list>* {
    margin-top: 20px;
    list-style: none;
}

/* ! */
.like-btn,
.save-btn {
    background-color: var(--primary);
}

/* ! */
.like-btn:hover,
.save-btn:hover {
    background-color: var(--secondary);
}

/* ! */
.unlike-btn {
    background-color: var(--third);
}

/* ! */
.unlike-btn:hover {
    background-color: var(--fourth);
}

/* ! */
.edit-btn {
    background-color: var(--info);
}

/* ! */
.edit-btn:hover {
    background-color: var(--info2);
}